@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Delius+Unicase:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* The entire scrollbar */
::-webkit-scrollbar {
    width: 4px; /* Negligible width */
}

/* The scrollbar track */
::-webkit-scrollbar-track {
    background: transparent; /* Transparent track */
}

/* The scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #e84949; /* Solid color for the thumb */
    border-radius: 10px;
}

/* The scrollbar thumb when hovered */
::-webkit-scrollbar-thumb:hover {
    background-color: #c73c3c; /* Slightly darker shade on hover */
}


.root{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: "Ubuntu", sans-serif;
    scroll-behavior: smooth;
    perspective: 10px;
}

.container{
    width: 80vw;
    margin: auto;
    position: relative;
}

.faded-text{
    position: absolute;
    user-select: none;
    font-size: 7em;
    color: rgb(234, 233, 233);
    top: 97%;
    left: -2%;
    font-weight: bold;
    transition: all 3s;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.4em;
}


.logo-content{
    margin-left: -8%;
    color: #e84949;
}

.logo-img img{
    width: 6vw;
}

.nav-items{
    display: flex;
    gap: 2vw;
    text-shadow: 3px 2px 10px #212;
}

.nav-items div a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
}



/* hero section */

.hero{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    padding-top: 3%;
}

.hero-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    width: 50vw;
    position: relative;
}

/* .ani img{
    width: 60%;
}

.ani{
    position: absolute;
    z-index: -5;
    top: -10%;
    left: 25%;
    animation: scaleAni 3s infinite;
}

@keyframes scaleAni {
    0%{
        transform: scale(1) rotateY(360deg);
        filter: grayscale(100%);
    }

    50%{
        transform: scale(1.3) rotateX(360deg);
        filter: grayscale(0%);
    }

    100%{
        transform: scale(1);
        filter: grayscale(100%);
    }
} */



.hero-left-one{
    font-size: 1.7em;
    font-weight: 400;
}

.hero-name{
    font-size: 1.8rem;
    font-weight: 500;
    color: #4e45d5;
}

.hero-left-two{
    font-size: 2em;
}

#typed-text{
    font-size: 2.1rem;
    font-weight: 500;
    color: #4e45d5;
    letter-spacing: 0.05em;
}

.hero-left-three{
    font-size: 1.2rem;
}

.btn{
    background-color: #e84949;
    color: white;
    width: 8vw;
    font-size: 1.2em;
    padding: 1%;
    text-align: center;
    box-shadow: 5px 5px 7px 0px #0000003f;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.btn::before{
    content: "";
    background-color: #1f1f1f;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.8s;
    z-index: -1;
}

.btn:hover::before{
    transform: scaleX(1);
}


.hero-right{
    position: relative;
}

.user-img img{
    width: 14vw;
    height: 50vh;
    z-index: -1;
}

.user-img{
    padding: 1.5em;
    filter: grayscale(1);
    transition: all 1s;
    animation: scaleImage 5s linear infinite;
    /* border: 1px solid black; */
}

@keyframes scaleImage{
    0%{
        filter: grayscale(1);
        transform: scale(1);
        
    }

    50%{
        filter: grayscale(0);
        transform: scale(1.1);
        box-shadow: 3px 3px 10px black;
    }

    100%{
        filter: grayscale(1);
        transform: scale(1);
    }
}

.png img{
    width: 3vw;
}

.png{
    position: absolute;
    z-index: 5;
}

.png1{
    top: 90%;
    left: -10%;
    animation: rotateImg 2s infinite;
}

@keyframes rotateImg {
    0%{
        transform:rotateY(0deg) translateY(0px); 
    }

    50%{
        transform:rotateY(180deg) translateY(15px);
    }

    100%{
        transform:rotateY(360deg) translateY(0px);
    }
}

.png3{
    top: 0%;
    right: -8%;
    animation: translateImg 3s infinite;
}

@keyframes translateImg {
    0%{
        transform:translateY(-10px); 
    }

    50%{
        transform:translateY(25px);
    }

    100%{
        transform:translateY(-10px);
    }
}



/*  Project section */

.project-section{
    background-color: rgb(220, 220, 220);
    margin-top: 5.85%;
}

.project-header{
    padding-top: 1.5%;
    text-align: center;
    font-size: 4em;
    color: #e84949;
    font-weight: 500;
}


.project-cards{
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20vh;
    padding-top: 5%;
    padding-bottom: 5%;
}

.project-card{
    width: 80%;
    position: relative;
    box-shadow: 0px 0px 40px #1f1f1f;
    height: 70vh;
    background-size: cover;
}

.project-card::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1f1f1f9a;
    /* transform: scaleX(1); */
}


.project-card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg,#343d68,#343d68be,#343d687c);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.5s;
    z-index: 1;
}

.project-card:hover::before{
    transform: scaleX(1);
}


#project1{
    background-image: url(./images/projects/pr-1.png);
}


.project-number{
    position: absolute;
    font-size: 12em;
    font-weight: 500;
    color: white;
    z-index: 10;
    display: none;
}

.project-card:hover .project-number{
    display: block;
}

.number-right{
    right: -4%;
    top: -10%;
}

.number-left{
    left: -1%;
    top: -9%;
}


.project-content{
    position: absolute;
    z-index: 5;
    display: flex;
    flex-direction: column;
    bottom: 10%;
    width: 60%;
    color: white;
    gap: 20px;
    padding: 2em;
}

.project-card:hover .project-content{
    transform: scale(1.1);
    transition: all 0.3s ease;
}


.project-content a{
    color: white;
    font-size: 1.5em;
}

.project-content a:hover{
    color: #e84949;
    transition: all 0.3s;
}

.content-left{
    left: 10%;
}

.content-right{
    right: 10%;
}

.project-heading{
    font-size: 2.2em;
    font-weight: 500;
}

.project-subheading{
    font-style: italic;
}

.btn-grp{
    display: flex;
    align-items: center;
    gap: 20px;
}


.project-skill{
    width: 5vw;
}

button{
    border: none;
}


#project2{
    background-image: url(./images/projects/pr-2.png);
    margin-left: 15%;
}

#project3{
    background-image: url(./images/projects/pr-3.png);
}

#project4{
    background-image: url(./images/projects/pr-4.png);
    margin-left: 15%;
}


.skills{
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    padding-top: 5%;
}

.faded-skill{
    position: absolute;
    user-select: none;
    font-size: 10em;
    color: rgb(234, 233, 233);
    bottom: -4.5%;
    right: -15%;
    font-weight: 500;
    transition: all 3s;
}

.skill-logo img{
    width: 6vw;
}

.skill-left{
    width: 50%;
    padding-left: 3%;
    padding-right: 3%;
}

.skill-right{
    position: relative;
    width: 40%;
    padding-top: 5%;
}

.blob{
    position: absolute;
    z-index: -1;
    top: 15%;
    left: 25%;
    animation: moveBlob 5s infinite;
}

@keyframes moveBlob {
    0%{
        transform: translateY(0px) rotateZ(0deg);
    }

    50%{
        transform: translateY(5px) rotateZ(-15deg);
    }

    100%{
        transform: translateY(0px) rotateZ(0deg);
    }
}



.blob img{
    width: 70%;
}


.skill-left h2{
    font-size: 2.5em;
    line-height: 2;
    color: #e84949;
}

.skill-left p{
    font-size: 1.2em;
}


.education{
    height: 70vh;
    padding-top: 3%;
    background-color: rgb(220, 220, 220);
}

.education h2{
    font-size: 3em;
    text-align: center;
    color: #e84949;
}

.education-container{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding-top: 5em;
}

.education-card{
    display: flex;
    justify-content: space-between;
}


.contact{
    /* height: 40vh; */
}

.contact-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
    gap: 1.5em;
}

.contact h2{
    font-size: 3em;
    color: #e84949;
    text-align: center;
    padding-top: 2%;
}

.phone{
    font-size: 1.5em;
}

.email{
    font-size: 1.5em;
}


.footer{
    height: 20vh;
    background-color: #e84949;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    color: white;
}

.footer .div1{
    display: flex;
    justify-content: space-evenly;
    width: 25%;
}

.footer .div1 a{
    text-decoration: none;
    color: white;
    height: 10%;
}

.footer .div2{
    display: flex;
    width: 20%;
}

.footer .div3{
    display: flex;
    width: 20%;
    gap: 3em;
}

.footer .div3 a{
    color: white;
    font-size: 1.5em;
}

.footer-text{
    position: absolute;
    user-select: none;
    font-size: 3em;
    color: #bd3e3e;
    font-weight: 500;
    top: 60%;
    left: 0%;
}

/* adding form css */

.contact-form{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-left: 36%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.contact h3{
    margin-left: 10%;
    margin-top: 3%;
    color: rgb(40, 35, 35);
}

.contact-form input{
    width: 40%;
    padding: 1%;
}